<!DOCTYPE html>
<html lang="en">
<%- include("components/head") %>
<body>
    <%- include("components/navbar") %>

    <h1><%= title %></h1>
    
    <%- include("components/script") %>
</body>
</html>