<%- include("segments/header") %>
    <h1><%= title %></h1>

    <% if (articles.length > 0) { %>
    <ul>
        <% for (let i in articles) { %>
        <li><%= articles[i] %></li>
        <% } %>
    </ul>
    <% } %>
<%- include("segments/footer") %>