<!DOCTYPE html>
<html lang="en">
<%- include("components/head") %>
<body>
    <%- include("components/navbar") %>
    
    <h1><%= title %></h1>

    <% if (articles.length > 0) { %>
    <ul>
        <% for (let i in articles) { %>
        <li><%= articles[i] %></li>
        <% } %>
    </ul>
    <% } %>

    <%- include("components/script") %>
</body>
</html>