<!DOCTYPE html>
<html lang="en">
<%- include("components/head") %>
<body>
    <%- include("components/navbar") %>
    
    <% if (articles.length > 0) { %>
        <!-- hasil pencarian ... -->
        <ul>
            <% for (let i in articles) { %>
            <li>
                <h4><%= articles[i].title %></h4>
                <p><%= articles[i].body %></p>
            </li>
            <% } %>
        </ul>
    <% } else { %>

    <h1>Pencarian tidak ditemukan...</h1>

    <a href="/" class="btn btn-primary">
        Kembali ke home
    </a>

    <% } %>

    <%- include("components/script") %>
</body>
</html>